body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff2e63;
    color: #fff;
    
}

.container-fluid{
    padding: 3% 15%;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
    
}
.navbar-brand{
    font-size: large;
}
#testimonials{
    padding: 5% 6%;
    text-align: center;
    background-color: #252a34;
    color: #fff;
    width: 100%;
}
.carousel-caption h5
{
  color: #fff;
  font-size: 42px;
  
}
.carousel-caption
{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
#slider
{
 width 100%;
}
img{
    width: 65%;
    margin: auto;

}
/*-----------------------------about------------*/
#about
{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #252a34
}
#about .btn
{
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.about-content
{
   padding-top: 20px;
   
}
.skills-bar p
{
  margin-bottom: 6px;
  font-weight: 600;
  
}
.progress-bar
{
  border-radius: 16px;
  
}
.progress
{
  border-radius: 16px;
  margin-bottom: 20px;
 
}
