body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
}
h2{
  font-size: 3rem;
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: black;
  font-size: medium;
  font-weight: 550;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 1% 10% 1%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  padding: 5%;
}

/* Navigation Bar */


.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #1b262c;
  color: #fff;
  text-align: left;
}

/* Title Image */
.title-image {
  
  position: absolute;
  right: 15%;
}

/* with space parent child hierarchical selectors read right to left */

/* no space read left to right with no hierarchy and no parent/child relationship */



/* Features Section */
#features {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  padding-bottom: 3%;
  background-color: #ff4c68;
  text-align: center;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 50%;
  
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

/* @media <type> <feature> */

@media only screen and (max-width: 1028px) {
  #title {
    text-align: center;
  }


  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}
.col-md-6 {
  float: left;
  width: 50%;
  text-align: center;
  color: black;
}

.container{
  padding-top: 5%;
}
.hone{
  padding-top: 3%;
}
.htwo{
  padding-top: 5%;
  padding-bottom: 6%;
  font-family: 'Montserrat';
  font-weight: bold;
}
h3{
  font-family: 'Montserrat';
  color: #1b262c;
  font-weight: bold;
}
.para{
  padding-bottom: 3%;
  color: #fff;
}
.containerhww{
  padding-bottom: 3%;
}
.icon{
  color: #fff;
  size: 5%;
}
.progressbar{
  color: #ff4c68;
}
.para:hover{
  color: black;
}
.us {
  text-align: center;
  border-style: none;
  height: 200px;
}
.img-box{
  padding-left: 5%;
}
.nameus{
  font-size: 30px;
  font-family: 'Montserrat';
  color: black;

}
.contactme{
  font-family: 'Montserrat';
  padding-bottom: 6%;
  font-weight: bold;
  padding-top: 5%;
}
.footer-section{
  background-color: #ff4c68;
  color: #fff;
  padding: 3%;
}
.footertext{
  color: #fff;
}
.containerimg {
  padding-left: 19%;
  padding-bottom: 3%;
}
.bb{
  padding-bottom: 3%;
  color: #ff4c68;
  text-align: center;
}
h4{
  color: #ff4c68;
  font-family: 'Montserrat';
  font-weight: bold;
}
h4:hover{
  color: black;
}
.yo{
  font-family: 'Montserrat';
  font-weight: 800;
  color: #fff;
  padding-top: 10%;
  font-size: 3.3rem;
  padding-left: 3%;
}
.container-button{
  padding-top: 15%;

}
.Contribution{
  background-color: #0f1021;
  padding-bottom: 8%;
}
