body{
    text-align: center;
    background-color: black;
}
h1{
    font-family: 'Montserrat';
    font-weight: 800;
    color: white;
    background-color: black;
    padding-top: 3%;
    padding-bottom: 3%;
}
a{
    background-color: red;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 3%;
    padding-left: 3%;
    color: black;
    font-size: 50px;
    font-weight: 800;
}
a:hover{
    color: black;
}